extends ../layout/index

block contenido
    h2.text-center.text-2xl.font-extrabold= tituloPagina

    div(class="bg-white shadow py-8 px-4 runded-lg max-w-md mx-auto")
        p(class= error? 'bg-red-600':'bg-green-500').py-2.text-white.text-center.font-bold.px-5.rounded-md.w-full=mensaje
        .flex.items-right.justify-between.pt-3
            a.text-gray-500.text-xs(href='/auth/login')  
            a.text-gray-500.text-xs(href="/auth/login") Ir al login 
    
        
