extends ../layout/index

block contenido

    .mt-8.mx-auto.max-w-md
        .bg-white.py-5.px-4.shadow
            form.space-y-3(method='POST' action='/auth/olvide-password')
                div
                    label.block.text-sm.text-gray-600.mb-2.font-bold(for="email") Tu Correo Electrónico
                    input#email.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(placeholder='ingresa tu correo electrónico' type='text' name='email')

                div.flex.items-center.justify-between
                    a.text-gray-500.text-xs(href="/auth/registro") ¿No tienes Cuenta? Crear Cuenta.

                input(class='w-full bg-indigo-600 py-2 hover:bg-indigo-800 rounded-xl text-white font-bold' type='submit' value='Recuperar Contraseña')
                input(type='hidden' name='_csrf' value= csrfToken)