doctype html
html(lang="es")
    head
        meta(charset="ISO-8859-1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raíces | #{tituloPagina}
        block styles
        link(rel="stylesheet", href="/css/app.css")


    body.min-h-screen.bg-gray-50
        include includes/menuApp

        div.py-5
            h1.text-4xl.my-10.font-extrabold.text-center Bienes
                span.font-normal Raices
        main(class="mx-auto container px-2")

            h2.text-center.text-2xl.font-extrabold= tituloPagina

            if errores
                div(class="max-w-md mx-auto my-10")
                    each error in errores
                        p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold.rounded-md= error.msg

            
            block contenido 

        block scripts