header(class='bg-indigo-600 p-4')
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes
            span.font-normal Raices

        nav(class='my-5  text-sm md:flex md:text-center md:gap-3 font-bold text-white hidden')
            a(class='bg-indigo-400 py-2 px-10 rounded-lg' href='') Mis Propiedades
            a(class='bg-indigo-400 py-2 px-10 rounded-lg' href='') Mi Perfil
            a(class='bg-indigo-900 py-2 px-10 rounded-lg' href='' ) Cerrar Sesión